# Normalize line endings to LF in the repo
* text=auto eol=lf

# Windows scripts need CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Binaries
*.jar binary
*.webp binary
*.png binary
*.jpg binary
*.keystore binary
*.jks binary
